$fergOrange: #fe5000;

.project-card {
    border: none;
    margin-top: -4em;
    margin-bottom: 2em;

    .title {
        font-weight: 700;
    }

    .badge-tag {
        color: white;
        background-color: $fergOrange;
        margin-right: 1em;
    }
}

.project-content {
    margin: 2em 0;

    h5 {
        font-family: Montserrat,sans-serif;
        font-style: italic;
        font-size: 0.9em;
        color: $fergOrange;
    }

    p {
        font-family: Work sans,sans-serif;
        font-size: 1em;
        font-weight: 500;
        line-height: 1.5;
    }
}